body {
  color: #212529;
  text-align: center;
  background-color: #f8f9fa;
  text-decoration: none;
  min-height: 300px;
}
img.p1{
margin: auto;
width:;
background: #cccccc;

height: ;
float: center;
overflow: visible;
}
